.football {
    text-align: center;

    &__title {
        margin-bottom: 36px;
        color: #000;
        font-family: "Montserrat Alternates";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__wrap {
        margin-left: 190px;
        width: 720.0px;
        height: 220.0px;
        border-radius: 37px;
        border: 2px solid #000;
        background: #5ABB58;
    }
}